<div class="container">
  <div class="row">
    <!--Container: About me, experience...-->
    <div class="col-md-9">

      <div class="row">
        <h1 class="app-primary-bold-color">Gabriel R.Díaz</h1>
      </div>

      <!--About me-->
      <div>
        <h2 class="app-primary-bold-color">About me</h2>
        <hr class="default-separator">
      </div>

      <div>
        <p>
          I wish to be a fullstack developer who can go on with projects in
          disruptive and modern technologies. I enjoy both, obtaining new knowledges and improving my
          current skills in my spare time
        </p>
      </div>
      <!--Experience-->
      <div>
        <h2 class="app-primary-bold-color">Expencience</h2>
        <hr class="default-separator">
      </div>

      <div>
        <p>
          Crime and Punishment is about the troubles of Raskolnikov, a young man living in St. Petersburg. He used to be a student, but he became so poor he had to stop studying. He plans to kill a selfish old pawnbroker for her money, and he acts on his plan. Raskolnikov argues that with her money he can do good things, and that he was simply killing a person who was not worth anything. He also murdered her to test his idea that some people are naturally better than others and have the right to murder. Several times in the novel, Raskolnikov justifies himself by comparing himself to Napoleon, saying that murder is allowed for a higher purpose. However, after he kills the pawnbroker, questions which he cannot answer and feelings he had not expected terrify him. He feels separated from mankind, nature, and truth. Because of this, he decides at last to confess to the police and accept suffering.
        </p>
      </div>

      <!--Studies-->
      <div>
        <h2 class="app-primary-bold-color">Studies</h2>
        <hr class="default-separator">
      </div>

      <div>
        <p>
          Portraying himself as a failure, the protagonist of Osamu Dazai's No Longer Human narrates a seemingly normal life even while he feels himself incapable of understanding human beings. Oba Yozo's attempts to reconcile himself to the world around him begin in early childhood, continue through high school, where he becomes a "clown" to mask his alienation, and eventually lead to a failed suicide attempt as an adult. Without sentimentality, he records the casual cruelties of life and its fleeting moments of human connection and tenderness.
        </p>
      </div>

    </div>
    <!--Container: Contact, techs...-->
    <div class="col-md-3 sidebar-bg-color">
      <!--Image-->
      <div class="d-none d-sm-block d-sm-none d-md-block">
        <img src="https://m.media-amazon.com/images/I/61jULeZfkgL._SL1200_.jpg"
        height="250" width="250" class="img-thumbnail mx-auto d-block">
      </div>

      <!--Contact-->
      <div>
        <h2 class="app-secondary-bold-color">Contact</h2>
        <hr class="secondary-separator">
      </div>

      <div>
        <p class="app-secondary-color">
          Winston Smith works for the Ministry of Truth in London, chief city of Airstrip One. Big Brother stares out from every poster, the Thought Police uncover every act of betrayal. When Winston finds love with Julia, he discovers that life does not have to be dull and deadening, and awakens to new possibilities. Despite the police helicopters that hover and circle overhead, Winston and Julia begin to question the Party; they are drawn towards conspiracy. Yet Big Brother will not tolerate dissent - even in the mind. For those with original thoughts they invented Room 101...
        </p>
      </div>

      <!--Techs-->
      <app-techs-list></app-techs-list>
      <!--
        <div>
        <h2 class="app-secondary-bold-color">Techs</h2>
        <hr class="secondary-separator">
      </div>

      <div>
        <p class="app-secondary-color">
          Geralt of Rivia is a witcher. A cunning sorcerer. A merciless assassin. And a cold-blooded killer. His sole purpose: to destroy the monsters that plague the world. But not everything monstrous-looking is evil and not everything fair is good... and in every fairy tale there is a grain of truth.
        </p>
      </div>
    -->
      <!--Other techs-->
      <div>
        <h2 class="app-secondary-bold-color">Other Techs</h2>
        <hr class="secondary-separator">
      </div>

      <div>
        <p class="app-secondary-color">
          Alchemists are knowledgeable and naturally talented individuals who can manipulate and modify matter due to their art. Yet despite the wide range of possibilities, alchemy is not as all-powerful as most would believe. Human transmutation is strictly forbidden, and whoever attempts it risks severe consequences. Even so, siblings Edward and Alphonse Elric decide to ignore this great taboo and bring their mother back to life. Unfortunately, not only do they fail in resurrecting her, they also pay an extremely high price for their arrogance: Edward loses his left leg and Alphonse his entire body. Furthermore, Edward also gives up his right arm in order to seal his brother's soul into a suit of armor. Years later, the young alchemists travel across the country looking for the Philosopher's Stone, in the hopes of recovering their old bodies with its power. However, their quest for the fated stone also leads them to unravel far darker secrets than they could ever imagine.
        </p>
      </div>

      <!--Languages-->
      <div>
        <h2 class="app-secondary-bold-color">Languages</h2>
        <hr class="secondary-separator">
      </div>

      <div>
        <p class="app-secondary-color">
          Okay, no more sinopsis. Just fill the text with random words. I wont think about more literature. Just fiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiill the space
        </p>
      </div>

    </div>

  </div>

</div>
